.catalo_wrap::after {
    display: block;
    clear: both;
    content: "";
}

.catalog_product_unit {
    box-sizing: border-box;
    float: left;
    width: 30%;
    margin-right: 5%;
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

.catalog_product_unit:nth-child(3n) {
    margin-right: 0;
}

.catalog_product_unit:nth-child(n+4) {
    margin-top: 30px;
}

.card_button{
  width: 100px;
  height: 40px;
  background: white;
  border-radius: 8px;
}

.btn {
    height: 40px;
}

.btn {
    border-radius: 8px;
    background-color: #FFCCF8; 
    color: black; 
    border: 2px solid #f44336;
}

.btn:hover {
    background-color: #f44336;
    color: #FFCCF8;
}
