.header img {
    float: left;
    height: 100%;
    margin: 0 15px;
}

.catalog_image {
    display: grid;
    width: 350px;
    height: 400px;
}

.about_image{
    height: 75%;
    width: 75%;
    vertical-align: middle;
    margin-top: 10px;
}